*{
  
  background-color: black;
}

h1{
  font-size: 40px;
  text-align: center;
  color: white;
}

h2{
  color: white;
}
input{
  background-color: white;
}

label{
  color: white;
}
button{
  background-color: lightgrey;
}
.nav-link{
  margin-top: 50px;
 
}

.nav-link a{
  margin-left: 50px;
  font-size: 30px;
  color: white;
}

.lists{
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav{
  text-align: center;
  border: solid black 1px;
}

ul.gif-list{
  display: flex;
  justify-content: space-evenly;

}


.gif-wrap {
  display: flex;
  background-color: ;
  border: solid grey 1px;
  margin: 0;
}

.gif-wrap img {
  min-width: 100%;
  
}

.gif-section{
  background-color: black;
  width: 100%;
  max-width: 1025px;
  margin: auto;
  border: black solid 2px;
}


@media (min-width: 0) and (max-width: 549px) {
  .gif-list li {
    text-align: center;
    margin: 20px 0 0;
    font-size: 0;
  }
}


